.info {
  background-color: #fff;
  padding: 1.25rem;
  text-align: center;
}

.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 2.5rem;
}

.cardDisplay {
  margin-bottom: 1.875rem;
}

.card {
  max-width: 75rem;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 1.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cardImage {
  margin-top: 1.25rem;
  max-width: 100%;
  height: auto;
  margin-bottom: 1.25rem;
}

.cardTitle {
  font-size: 1.5rem;
  color: #3D1EDD;
  margin-bottom: 0.625rem;
}

.cardDescription {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.featuresSlider {
  max-width: 81.25rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.feature {
  flex: 0 1 30%;
  background-color: #f9f9f9;
  padding: 1.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  border-top: 0.25rem solid #ccc;
  transition: transform 0.2s, background-color 0.2s;
  cursor: pointer;
}

.feature:hover {
  background-color: #eaeaea;
  transform: translateY(-0.3125rem);
}

.featureActive {
  border-top: 0.25rem solid #3D1EDD;
  background-color: #f0f0ff;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.featureTitle {
  font-size: 1.5rem;
  color: #080305;
  margin-bottom: 0.625rem;
  text-align: left;
}

.featureText {
  font-size: 1rem;
  color: #666;
  text-align: left;}

@media (max-width: 1280px) {
  .cardDisplay {
    margin: 2rem 2rem;
  }
}

@media (max-width: 768px) {
  .featuresSlider {
    flex-direction: column;
    padding: 0 1.25rem;
  }
  .cardDisplay {
    margin: 1rem 1rem;
  }
}
